@model Unioteq.TrackNTrace.Models.Machine.MachineView

@{
    ViewBag.Title = "Create Machine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Row start --> 
<div class="row gx-3">
    <div class="col-12 col-md-8 offset-md-2">
        @using (Html.BeginForm("Create", "Machine", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">@ViewBag.Title</h5>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-12 mb-3">
                            <label asp-for="MachineCode" class="form-label">Machine Code</label>
                            <input asp-for="MachineCode" class="form-control" />
                            <span asp-validation-for="MachineCode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-3">
                            <label asp-for="MachineName" class="form-label">Machine Name</label>
                            <input asp-for="MachineName" class="form-control" />
                            <span asp-validation-for="MachineName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row gx-3 mb-3">
                        <div class="col-12">
                            <label asp-for="MachineDetail" class="form-label">Machine Detail</label>
                            <textarea asp-for="MachineDetail" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="MachineDetail" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-12 mb-3">
                            <label asp-for="LineId" class="form-label">Line</label>
                            <select asp-for="LineId" asp-items="ViewBag.LineList" class="form-control">
                                <option value="">----- Select -----</option>
                            </select>
                            <span asp-validation-for="LineId" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6 col-sm-12 mb-3">
                            <label asp-for="MachineManual" class="form-label">Upload Manual (optional)</label>
                            <input asp-for="MachineManual" type="file" class="form-control" />
                            <span asp-validation-for="MachineManual" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row gx-3">
                        <div class="col-lg-6 col-sm-12 mb-3">
                            <label asp-for="IsActive" class="form-label">Is Active</label>
                            <div class="form-check form-switch">
                                <input asp-for="IsActive" type="checkbox" class="form-check-input" id="IsActiveSwitch" />
                                <label class="form-check-label" for="IsActiveSwitch">Active</label>
                            </div>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <a class="btn btn-outline-danger" href="@Url.Action("Index", "Machine")">Cancel</a>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Row end -->
